<!DOCTYPE HTML>
<html>
	<head>
	<title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{{ STATIC_URL }}fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

	</head>
	<body>
    {% include 'parts/menu.html' %}
	<div class="colorlib-loader"></div>

	<div id="page">

        {% block content  %}

        {% endblock %}
		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4>О магазине</h4>
						<p>Мы в социальных сетях</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="https://vk.com/truetetro"><i class="icon-vk"></i></a></li>
								<li><a href="#"><i class="icon-instagram"></i></a></lis
							</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Работа с клиентами</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Contact</a></li>
								<li><a href="#">Returns/Exchange</a></li>
								<li><a href="#">Gift Voucher</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Special</a></li>
								<li><a href="#">Customer Services</a></li>
								<li><a href="#">Site maps</a></li>
							</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Информация</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">About us</a></li>
								<li><a href="#">Delivery Information</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Order Tracking</a></li>
							</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>Новости</h4>
						<ul class="colorlib-footer-links">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Exhibitions</a></li>
						</ul>
					</div>

					<div class="col footer-col">
						<h4>Контактная информация</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p>
							<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
							<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
   <!-- popper -->
   <script src="{{ STATIC_URL }}js/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="{{ STATIC_URL }}js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="{{ STATIC_URL }}js/jquery.magnific-popup.min.js"></script>
	<script src="{{ STATIC_URL }}js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{ STATIC_URL }}js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="{{ STATIC_URL }}js/main.js"></script>

	</body>
</html>