{%  extends 'base.html' %}

{% block content %}
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Домой</a></span> / <span>О нас</span></p>
					</div>
				</div>
			</div>
		</div>


		<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-6 mb-3">
						<div class="video colorlib-video" style="background-image: url({{ STATIC_URL }}images/about.jpg;)">
							<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
							<div class="overlay"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-wrap">
							<h2>Интернет-магазин кроссовок EKB men's SNEAKERS</h2>
							<p>Онлайн-покупка кроссовок от топовых брендов в российском магазине – это возможность получить заказ в любую точку страны в кратчайшие сроки, взять на примерку соседний размер, не переплачивать за доставку из зарубежья. Наш интернет-магазин кроссовок формирует свой каталог из оригинальной продукции Nike, adidas, Jordan, Reebok, Puma, New Balance, ASICS, Converse и десятка других брендов, чье имя на слуху у сникерхедов.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}